fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
passlib
redis
qdrant-client
sentence-transformers
pymupdf
tiktoken
openai
streamlit
streamlit
streamlit-option-menu
streamlit-extras
streamlit-lottie
streamlit-authenticator
streamlit-pdf-viewer
streamlit-shadcn-ui
streamlit-javascript
streamlit-float